*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body{
    margin-top: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF4FF;
 }

 /* Posts CSS */
 .section-post{
   height: 100vh;
   margin: 20px;
   padding: 8px;
   background-color: #EEF4FF;
}

.section-post ul{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Cards CSS */
.list{
    list-style: none;
}
.list div{
    width: 450px;
    height: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* #212f3d */
    background-color : #DCEBFF;
    border-left: 2px solid #1E293B;
}

.container p{
    color :#1E293B;
    line-height: 1.5;
    margin: 4px 0;
}

.btn{
    margin: 10px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.btn button{
    border-radius: 3px;
    border: none;
    color: black;
    height: 20px;
    font-weight: 500;
}
.btn button:hover{
    cursor: pointer;
}
.btn .edit{
   background-color: #1ee266;
   width: 80px;
}
.btn .delete{
    background-color:#DC2626;
    width: 100px;
}

/* form css */
.section-form{
    padding: 1.6rem;
    /* background-color: #212f3d; */
    background-color: #DCEBFF;
    border-radius: 0.6rem;
    margin: 3.2rem auto;
}

form{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

& input{
   width: 24rem;
   color: #212f3d;
   border: 0.1rem solid grey;
   outline: none;
   border-radius: 0.3rem;
   padding: 0.8rem 1.2rem;
   border: none;
}

.f-button{
    width: 80px;
    border-radius: 2px;
    border: none;
    background-color: #1ee266;
}
.f-button:hover{
    cursor: pointer;
 }